<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	

  <servlet>
    <servlet-name>querybook</servlet-name>
    <servlet-class>testsas.querybook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deletebook</servlet-name>
    <servlet-class>testsas.deletebook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>showbook</servlet-name>
    <servlet-class>testsas.showbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>querybook</servlet-name>
    <url-pattern>/querybook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deletebook</servlet-name>
    <url-pattern>/deletebook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showbook</servlet-name>
    <url-pattern>/showbook</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  </web-app>
